# Dependencies
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Testing
coverage

# Build outputs
dist
build
.next
out

# Environment files
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.pnp
.pnp.js
*.tsbuildinfo
next-env.d.ts

# Documentation
docs/.obsidian
